<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
                <strong><%= User.find(get_random_user_id[1]).name %></strong>
                <small><%= User.find(get_random_user_id[1]).username %></small>
            </div>
          </div>
        </article>
      </div>
      <div class="panel-block">
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32">
             <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= User.find(get_random_user_id[0]).name %></strong>
                <small><%= User.find(get_random_user_id[0]).username %></small>
              </div>
            </div>
          </article>
        </div>
        <div class="panel-block">
          <article class="media">
            <div class="media-left">
              <figure class="image is-32x32">
                <img src="https://bulma.io/images/placeholders/64x64.png">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                <strong><%= User.find(get_random_user_id[2]).name %></strong>
                <small><%= User.find(get_random_user_id[2]).username %></small>
                </div>
              </div>
            </article>
          </div>
        </nav>
      </div>
